<h1>Samples#test version3</h1>
<p>Find me in app/views/samples/test.html.erb</p>
<% if Rails.env == "development" %>
  <h1>開発環境だよ。</h1>
<% elsif Rails.env == "production" %>
  <h1>本番環境です。おめでとうございます。</h1>
<% end %>

<% if @samples.present? %>
  <% @samples.each do |s| %>
    <h3><%= s.name %></h3>
    <p><%= s.content %></p>
    <hr>
  <% end %>
<% end %>
